#!/bin/bash

set -euo pipefail

{{- if eq .chezmoi.os "linux" }}
FONT_DIR="$HOME/.local/share/fonts"
{{- else if eq .chezmoi.os "darwin" }}
FONT_DIR="$HOME/Library/Fonts"
{{- end }}

FONT_FILE="{{- if eq .chezmoi.os "linux" }}$HOME/.local/share/fonts{{- else if eq .chezmoi.os "darwin" }}$HOME/Library/Fonts{{- end }}/DroidSansMNerdFont-Regular.otf"

if [[ -f "$FONT_FILE" ]]; then
    echo "Nerd font already installed."
    exit 0
fi

mkdir -p "$FONT_DIR"
echo "Downloading DroidSansMono Nerd Font..."
curl -fLo "$FONT_FILE" "https://github.com/ryanoasis/nerd-fonts/raw/HEAD/patched-fonts/DroidSansMono/DroidSansMNerdFont-Regular.otf"